Integración de Aplicaciones/BPEL/BpelModuleFinal/src/RewardService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rs.udc.es/reward" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rs.udc.es/reward" name="RewardProviderService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://rs.udc.es/reward" schemaLocation="RewardService.xsd"/>
        </xsd:schema>
    </types>
    <message name="getPendingPoints">
        <part name="parameters" element="tns:getPendingPoints"/>
    </message>
    <message name="getPendingPointsResponse">
        <part name="parameters" element="tns:getPendingPointsResponse"/>
    </message>
    <message name="RewardException">
        <part name="fault" element="tns:RewardException"/>
    </message>
    <message name="addPendingPoints">
        <part name="parameters" element="tns:addPendingPoints"/>
    </message>
    <message name="addPendingPointsResponse">
        <part name="parameters" element="tns:addPendingPointsResponse"/>
    </message>
    <message name="confirmPendingPoints">
        <part name="parameters" element="tns:confirmPendingPoints"/>
    </message>
    <message name="confirmPendingPointsResponse">
        <part name="parameters" element="tns:confirmPendingPointsResponse"/>
    </message>
    <message name="removePendingPoints">
        <part name="parameters" element="tns:removePendingPoints"/>
    </message>
    <message name="removePendingPointsResponse">
        <part name="parameters" element="tns:removePendingPointsResponse"/>
    </message>
    <message name="getPoints">
        <part name="parameters" element="tns:getPoints"/>
    </message>
    <message name="getPointsResponse">
        <part name="parameters" element="tns:getPointsResponse"/>
    </message>
    <portType name="RewardProvider">
        <operation name="getPendingPoints">
            <input wsam:Action="http://rs.udc.es/reward/RewardProvider/getPendingPointsRequest" message="tns:getPendingPoints"/>
            <output wsam:Action="http://rs.udc.es/reward/RewardProvider/getPendingPointsResponse" message="tns:getPendingPointsResponse"/>
            <fault message="tns:RewardException" name="RewardException" wsam:Action="http://rs.udc.es/reward/RewardProvider/getPendingPoints/Fault/RewardException"/>
        </operation>
        <operation name="addPendingPoints">
            <input wsam:Action="http://rs.udc.es/reward/RewardProvider/addPendingPointsRequest" message="tns:addPendingPoints"/>
            <output wsam:Action="http://rs.udc.es/reward/RewardProvider/addPendingPointsResponse" message="tns:addPendingPointsResponse"/>
            <fault message="tns:RewardException" name="RewardException" wsam:Action="http://rs.udc.es/reward/RewardProvider/addPendingPoints/Fault/RewardException"/>
        </operation>
        <operation name="confirmPendingPoints">
            <input wsam:Action="http://rs.udc.es/reward/RewardProvider/confirmPendingPointsRequest" message="tns:confirmPendingPoints"/>
            <output wsam:Action="http://rs.udc.es/reward/RewardProvider/confirmPendingPointsResponse" message="tns:confirmPendingPointsResponse"/>
            <fault message="tns:RewardException" name="RewardException" wsam:Action="http://rs.udc.es/reward/RewardProvider/confirmPendingPoints/Fault/RewardException"/>
        </operation>
        <operation name="removePendingPoints">
            <input wsam:Action="http://rs.udc.es/reward/RewardProvider/removePendingPointsRequest" message="tns:removePendingPoints"/>
            <output wsam:Action="http://rs.udc.es/reward/RewardProvider/removePendingPointsResponse" message="tns:removePendingPointsResponse"/>
            <fault message="tns:RewardException" name="RewardException" wsam:Action="http://rs.udc.es/reward/RewardProvider/removePendingPoints/Fault/RewardException"/>
        </operation>
        <operation name="getPoints">
            <input wsam:Action="http://rs.udc.es/reward/RewardProvider/getPointsRequest" message="tns:getPoints"/>
            <output wsam:Action="http://rs.udc.es/reward/RewardProvider/getPointsResponse" message="tns:getPointsResponse"/>
            <fault message="tns:RewardException" name="RewardException" wsam:Action="http://rs.udc.es/reward/RewardProvider/getPoints/Fault/RewardException"/>
        </operation>
    </portType>
    <binding name="RewardProviderPortBinding" type="tns:RewardProvider">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getPendingPoints">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="addPendingPoints">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="confirmPendingPoints">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="removePendingPoints">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
        <operation name="getPoints">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RewardException">
                <soap:fault name="RewardException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="RewardProviderService">
        <port name="RewardProviderPort" binding="tns:RewardProviderPortBinding">
            <soap:address location="http://localhost:7070/rs-telco-wscontrib/services/RewardService"/>
        </port>
    </service>
</definitions>