Integración de Aplicaciones/BPEL/BpelModuleFinal/src/TelcoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rs.udc.es/telco" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rs.udc.es/telco" name="TelcoProviderService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://rs.udc.es/telco" schemaLocation="TelcoService.xsd"/>
        </xsd:schema>
    </types>
    <message name="changeStatus">
        <part name="parameters" element="tns:changeStatus"/>
    </message>
    <message name="changeStatusResponse">
        <part name="parameters" element="tns:changeStatusResponse"/>
    </message>
    <message name="TelcoException">
        <part name="fault" element="tns:TelcoException"/>
    </message>
    <message name="findCallsToBill">
        <part name="parameters" element="tns:findCallsToBill"/>
    </message>
    <message name="findCallsToBillResponse">
        <part name="parameters" element="tns:findCallsToBillResponse"/>
    </message>
    <portType name="TelcoProvider">
        <operation name="changeStatus">
            <input wsam:Action="http://rs.udc.es/telco/TelcoProvider/changeStatusRequest" message="tns:changeStatus"/>
            <output wsam:Action="http://rs.udc.es/telco/TelcoProvider/changeStatusResponse" message="tns:changeStatusResponse"/>
            <fault message="tns:TelcoException" name="TelcoException" wsam:Action="http://rs.udc.es/telco/TelcoProvider/changeStatus/Fault/TelcoException"/>
        </operation>
        <operation name="findCallsToBill">
            <input wsam:Action="http://rs.udc.es/telco/TelcoProvider/findCallsToBillRequest" message="tns:findCallsToBill"/>
            <output wsam:Action="http://rs.udc.es/telco/TelcoProvider/findCallsToBillResponse" message="tns:findCallsToBillResponse"/>
            <fault message="tns:TelcoException" name="TelcoException" wsam:Action="http://rs.udc.es/telco/TelcoProvider/findCallsToBill/Fault/TelcoException"/>
        </operation>
    </portType>
    <binding name="TelcoProviderPortBinding" type="tns:TelcoProvider">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="changeStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TelcoException">
                <soap:fault name="TelcoException" use="literal"/>
            </fault>
        </operation>
        <operation name="findCallsToBill">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="TelcoException">
                <soap:fault name="TelcoException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="TelcoProviderService">
        <port name="TelcoProviderPort" binding="tns:TelcoProviderPortBinding">
            <soap:address location="http://localhost:7070/rs-telco-wscontrib/services/TelcoService"/>
        </port>
    </service>
</definitions>